@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@config "./button-block-editor.config.js";
@tailwind utilities;
@tailwind base;

.fct-block-card-wrapper {
  @apply bg-white rounded border border-solid border-gray-outline min-w-[300px];
  .fluent-cart-direct-checkout-button {
    @apply text-white inline-flex hover:text-white;
  }
}

.fct-block-card-header {
  @apply border border-solid border-x-0 border-t-0 border-gray-outline p-4;
  .fct-block-card-title {
    @apply text-lg font-medium m-0;
  }
}
.fct-block-card-body {
  @apply px-5 py-10;
}


