@config "./modal-checkout.config.js";
@tailwind utilities;

.hidden {
  display: none;
}
html, body {
  //height: auto;
  //overflow: hidden;
}
/*=== Modal Checkout Form ===*/
.fct-divider {
  height: 1px;
  background-color: var(--fct-modal-checkout-divider-color);
  margin-top: 16px;
  margin-bottom: 16px;
}

.fct-modal-checkout-form-wrapper {
  --fct-modal-checkout-primary-text-color: var(--fct-primary-text-color, theme('colors.system.dark'));
  --fct-modal-checkout-secondary-text-color: var(--fct-secondary-text-color, theme('colors.system.mid'));
  --fct-modal-checkout-active-text-color: var(--fct-primary-active-text-color, theme('colors.blue.500'));

  // border
  --fct-modal-checkout-border-color: var(--fct-border-color, theme('colors.gray.outline'));
  --fct-modal-checkout-divider-color: var(--fct-divider-color, theme('colors.gray.divider'));
  --fct-modal-checkout-active-border-color: var(--fct-active-border-color, theme('colors.primary.500'));
  --fct-modal-checkout-secondary-active-border-color: var(--fct-secondary-active-border-color, theme('colors.blue.500'));

  --fct-modal-checkout-border-radius: 6px;

  --fct-modal-checkout-primary-bg-color: var(--fct-primary-bg-color, theme('colors.primary.500'));

  // button
  --fct-modal-checkout-btn-bg-color: var(--fct-btn-bg-color, var(--fct-modal-checkout-primary-bg-color));
  --fct-modal-checkout-btn-text-color: var(--fct-btn-text-color, #ffffff);

  --fct-modal-checkout-input-disabled-bg: var(--fct-input-disabled-bg, theme('colors.gray.50'));


  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .fct-nice-select {
    padding-left: 10px;
  }
  input {
    width: 100%;
    font-size: 14px;
  }
  label {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--fct-modal-checkout-primary-text-color);
  }
  input[type=checkbox] {
    position: relative;
    margin: 0;
    display: flex;
    height: 16px;
    min-height: auto;
    width: 16px;
    appearance: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--fct-modal-checkout-border-color);
    background-color: #fff;
    padding: 0;
    flex-shrink: 0;
    &::before {
      position: absolute;
      top: 1px;
      left: 4.5px;
      margin: 0;
      height: 9px;
      width: 5px;
      border-width: 1px;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 1.5px;
      border-bottom-width: 1.5px;
      border-style: solid;
      border-color: #fff;
      opacity: 0;
      content: "";
      transform: rotate(45deg);
    }
    &:checked {
      border-color: var(--fct-modal-checkout-active-border-color);
      background-color: var(--fct-modal-checkout-primary-bg-color);
      &::before {
        opacity: 1;
      }
      &:hover {
        background-color: var(--fct-modal-checkout-primary-bg-color);
      }
    }
  }

  .fct_checkout_input_group {
    input {
      border-radius: 0;
      background-color: #fff;
    }
  }
  .fct_checkout_agree_terms {
    label {
      align-items: baseline;
      display: inline-block;
    }
    input[type=checkbox] {
      position: relative;
      top: 2px;
      display: inline-block;
      margin-right: 6px;
    }
  }

  .fct_place_order_btn_wrap {
    margin-top: 30px;
    button {
      width: 100%;
      height: auto;
      min-height: 48px;
      border: 0;
      border-radius: var(--fct-modal-checkout-border-radius);
      padding: 10px 12px;
      font-size: 15px;
      line-height: 1;
      color: var(--fct-modal-checkout-btn-text-color);
      outline: none;
      box-shadow: none;
      cursor: pointer;
      font-weight: 500;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), var(--fct-modal-checkout-btn-bg-color);
      &:hover {
        background-color: var(--fct-modal-checkout-btn-bg-color);
        color: var(--fct-modal-checkout-btn-text-color);
      }
    }
    &.fct-payment-loading {
      margin-top: 0;
      button {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  .fct_coupon_field .fct_coupon_input:focus {
    border-color: var(--fct-modal-checkout-active-border-color);
  }
  .fct_coupon_field button:hover {
    background-color: var(--fct-modal-checkout-btn-bg-color);
    color: var(--fct-modal-checkout-btn-text-color);
  }
  .fct_summary_items_list {
    margin-top: 0;
  }
  .fct_allow_create_account_wrapper {
    margin-top: 20px;
  }
}

.fct-modal-checkout-form-inner {
  display: flex;
  flex-flow: row nowrap;
}

.fct-modal-checkout-details {
  background-color: #f5f7fa;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  flex: 0 0 50%;
  flex-flow: column nowrap;
  padding: 30px;
  gap: 22px;
  .fct_shipping_methods_item label {
    display: flex;
  }
  #fct_wrapper_ship_to_different,
  #shipping_address_section_section {
    margin-top: 20px;
  }
  .fct_checkout_form_section h4 {
    color: var(--fct-modal-checkout-primary-text-color);
  }
}

/*==== Summary ====*/
.fct-modal-checkout-summary {
  background-color: #f3f6fb;
  display: flex;
  gap: 15px;
  padding: 20px;
  border: 1px solid var(--fct-modal-checkout-border-color);
  border-radius: var(--fct-modal-checkout-border-radius);

  .fct-modal-cs-img {
    flex-shrink: 0;
    height: 62px;
    overflow: hidden;
    width: 62px;
    border-radius: 5px;
    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-radius: inherit;
      border: 1px solid var(--fct-modal-checkout-divider-color);
    }
  }

  .fct-modal-cs-content {
    flex-grow: 1;
  }

  .fct-modal-cs-line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
  }

  .fct-modal-cs-item-name {
    color: var(--fct-modal-checkout-primary-text-color);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .fct-modal-cs-item-variation {
    color: var(--fct-modal-checkout-secondary-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
  }
  .fct-modal-cs-line-price {
    color: var(--fct-modal-checkout-primary-text-color);
  }

  .fct-modal-cs-license {
    display: inline-flex;
    margin-top: 12px;
    font-size: 12px;
    border: 1px solid var(--fct-modal-checkout-border-color);
    border-radius: 5px;
    padding: 6px;
    line-height: 1;
    color: var(--fct-modal-checkout-primary-text-color);
  }

  .fct-modal-input-toggle-btn {
    text-align: right;
  }
}


/*==== input control ====*/
.fct-modal-input-control-wrap {
  position: relative;
  .fct-modal-input-toggle-btn {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.5;
    color: var(--fct-modal-checkout-secondary-text-color);
    box-shadow: none;
    &:hover {
      text-decoration: underline;
      color: var(--fct-modal-checkout-primary-text-color);
      background: transparent;
      box-shadow: none;
    }
  }
}

/*=== Summary Items ===*/
.fct-modal-checkout-summary-items {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  gap: 14px;
  padding: 0;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--fct-modal-checkout-secondary-text-color);
  }
  .fct_summary_items_total {
    font-weight: 600;
    font-size: 16px;
    color: var(--fct-modal-checkout-primary-text-color);
    border-top: 1px solid var(--fct-modal-checkout-border-color);
    padding-top: 14px;
  }
}
.fct-modal-checkout-summary-group {
  margin-top: auto;
}
/*==== Promo Code ====*/
.fct-modal-checkout-promo-code {
  .fct-modal-input-toggle-btn {
    font-size: 14px;
    font-weight: 500;
    color: var(--fct-modal-checkout-active-text-color);
  }
}

/*==== Applied Coupon Code ====*/
.fct-modal-coupon-applied {
  .fct-coupon-applied-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .fct-coupon-info {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .fct-coupon-text {
    color: var(--fct-modal-checkout-secondary-text-color);
    font-size: 14px;
  }
  .fct-coupon {
    background: #e4e7eb;
    border-radius: 4px;
    padding-left: 6px;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    min-height: 28px;
    color: var(--fct-modal-checkout-secondary-text-color);
  }
  .fct-remove-coupon {
    display: flex;
    width: 22px;
    align-items: center;
    justify-content: center;
    min-height: 28px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #bbc3cb;
    }
  }
  .fct-coupon-price {
    color: var(--fct-modal-checkout-secondary-text-color);
    font-size: 14px;
  }
  .fct-coupon-icon {
    height: 14px;
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
.fct-modal-coupon-applied-wrap {
  width: 100%;
}


/*==== Reviews ====*/
.fct-modal-checkout-reviews-wrap {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: auto;
}
.fct-modal-checkout-reviews {
  border: 1px solid var(--fct-modal-checkout-border-color);
  border-radius: var(--fct-modal-checkout-border-radius);
  display: flex;
  padding: 20px;
  margin-top: auto;
  gap: 20px;
  .fct-reviews-picture {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  .fct-reviews-content {
    flex: 1 1 auto;
    line-height: 1.5;
  }
  .fct-reviews-text {
    color: var(--fct-modal-checkout-secondary-text-color);
    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
  }
  .fct-reviews-meta {
    align-items: center;
    display: grid;
    gap: 10px;
    margin-top: 10px;
  }
  .fct-review-stars {
    color: #f0b429;
    display: flex;
    flex-flow: row nowrap;
    gap: 2px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .fct-review-author-info {
    color: var(--fct-modal-checkout-secondary-text-color);
    font-size: 14px;
    line-height: 1.5;
  }
}


/*==== Input Controls ====*/
.fct-modal-checkout-form-wrapper {
  .fct-modal-input-controls {
    position: relative;
    .fct-input-icon {
      position: absolute;
      top: 52%;
      left: 10px;
      transform: translateY(-50%);
      color: var(--fct-modal-checkout-secondary-text-color);
      svg {
        width: 13px;
        height: 13px;
      }

      + input {
        padding-left: 30px;
      }
    }
    input {
      width: 100%;
      background-color: #fff;
      max-width: 100%;
      min-height: 29px;
      border: 1px solid var(--fct-modal-checkout-border-color);
      border-radius: 4px;
      padding: 5px 60px 5px 12px;
      font-size: 14px;
      line-height: 1;
      color: var(--fct-modal-checkout-primary-text-color);
      outline: none;
      box-shadow: none;
      height: auto;
      &:focus {
        background-color: #fff;
        border-color: var(--fct-modal-checkout-active-border-color);
      }
    }
    button {
      background-color: transparent;
      color: var(--fct-modal-checkout-secondary-text-color);
      font-size: 12px;
      font-weight: 600;
      height: calc(100% - 2px);
      letter-spacing: -0.25px;
      position: absolute;
      right: 1px;
      text-transform: uppercase;
      top: 1px;
      z-index: 11;
      cursor: pointer;
      padding: 0 8px;
      border: 0;
      line-height: 1;
      box-shadow: none;
      &:hover {
        box-shadow: none;
        color: var(--fct-modal-checkout-active-text-color);
      }
    }
  }
}

.fct-hidden {
  display: none;
}

/*==== Billing ====*/
.fct-modal-checkout-billing-wrap {
  display: flex;
  flex: 0 0 50%;
  flex-flow: column nowrap;
  padding: 30px;
}

.fct-modal-account-details {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--fct-modal-checkout-divider-color);
  padding-bottom: 30px;
}

.fct-modal-form-info {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  label {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--fct-modal-checkout-primary-text-color);
    margin-bottom: 10px;
    display: block;
  }
  .col-6 {
    grid-column: auto / span 6;
  }
  .col-3 {
    grid-column: auto / span 3;
  }

}

.fct-modal-checkout-form-wrapper {
  .fct-modal-form-info {
    input {
      width: 100%;
      height: auto;
      min-height: 38px;
      border: 1px solid var(--fct-modal-checkout-border-color);
      border-radius: var(--fct-modal-checkout-border-radius);
      padding: 5px 12px;
      font-size: 14px;
      line-height: 1;
      color: var(--fct-modal-checkout-primary-text-color);
      outline: none;
      box-shadow: none;
      &:focus {
        background-color: #fff;
        border-color: var(--fct-modal-checkout-active-border-color);
      }
      &:disabled {
        background-color: var(--fct-modal-checkout-input-disabled-bg);
        color: var(--fct-modal-checkout-secondary-text-color);
      }
    }
  }

}

/*== Payment Methods ==*/
.fct-modal-billing-header {
  margin-bottom: 12px;
  .fct-modal-billing-title {
    color: var(--fct-modal-checkout-primary-text-color);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }
}

.fct_modal_payment_methods {
  .fct_payment_methods_list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 30px;
    label {
      display: flex;
    }
  }
  .fct-payment-method-loader {
    z-index: 4;
  }
  .fct_payment_method_logo {
    label {
      background-color: #fff;
      gap: 6px;
      line-height: 28px;
      color: var(--fct-modal-checkout-secondary-text-color);
      box-shadow: 0 1px 2px 0 rgba(31,41,51,.08);
      border-radius: inherit;
    }
  }
  .fct_payment_method_wrapper {
    margin-bottom: 0;
    border-radius: var(--fct-modal-checkout-border-radius);
    &.active {
      border-color: var(--fct-modal-checkout-active-border-color);
    }
  }

  .fluent-cart-checkout_embed_payment_wrapper {
    padding-left: 0;
    padding-right: 0;
    &.active {
      grid-template-rows: 1fr;
      &.fct-payment-loading {
        grid-template-rows: 0fr;
      }
    }
  }
}
